*{
  box-sizing: border-box;
}
body{
  padding:1rem;
  margin:0;
  /* background: rgba(34,83,72,1 ); */
  background: linear-gradient(90deg, rgba(34,83,72,1) 0%, rgba(141,181,117,1) 100%);
  font-family: "Roboto Condensed", sans-serif;
  color:#FFFFFF;
  /* color:#b7f198 */
  display: flex;
  flex-direction: column; 
  align-content: center;
  height:100vh;
  /* border:2px solid red; */
  /* color:rgb(156, 188, 137); */
  padding:0;
  /* caret-color:black */
}
.main-ctn{
  height:100vh;
  /* border:2px solid red; */
}
/* BACK BUTTON */
.back-button{
  color:white;
  text-decoration: none;
  font-size: 1.2rem;
  /* border: 2px solid white; */
  margin-right:auto;
  margin-left:2rem;
  margin-bottom: 1rem;
}
/* HEADER */
.header{
  display: flex;
  /* border:5px solid white; */
  align-items: center;
  padding:0 2rem;
  height:10%;
}
.header>h1{
  margin-right:auto;
  /* text-decoration: underline; */
  font-size: 1.4rem;
  /* border: 2px solid white; */
  width:60%;
}
/* navlinks */
.header>a{
  margin-right:2rem;
  color:white;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  /* border:2px solid white; */
}
.drawer{
  width:100%;
  height:100%;
  background-color: #84a970;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.drawer>h1,a{
  color:white;  
  text-decoration: none;

}

/* FOOTER */
.footer{  
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  /* bottom:0; */
  margin-bottom:auto;
  height:5%;
  /* margin-top:auto; */
}
.footer>p{
  font-size: 1rem;
  margin:0.8rem 0;
}
/* HOME PAGE */
.home{
  display:flex;
  height:85%;
  /* padding:1rem; */
  /* border:2px solid red; */
}
.home-left,.home-right{
  display:flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid pink; */
  margin:0.5rem;
  border-radius: 1.8rem;
  overflow: hidden;
}
.home-left{
  background-color:#24403170;
  width:55%;
}
.home-right{
  justify-content: flex-start;
  background-color:#24403170;
  width:45%;
}
.short-hr{
  border:0.5px solid #84a970;
  width: 60%;
}
/* SCROLL AREA */
.scroll-area{
  max-height:28rem;
  overflow: auto;
  padding:0;
}
/* TABS */
.MuiButtonBase-root.MuiButtonBase-root{
  color:white;
  font-family: "Roboto Condensed", sans-serif;
}
.MuiButtonBase-root.MuiButtonBase-root.MuiTab-textColorPrimary.Mui-selected{
  color:#9cd37c;
  border-radius: none;
  /* border-bottom:2px solid #6ac062; */
  background-color: none;
}
/* SMALL COIN CARD */
.coin-card-ctn{
  /* background-color: #24403170; */
  width:100%;
  /* border-radius: 30px; */
  /* border:2px solid white; */
  height:100%;
}
.coin-card{
  font-family: "Roboto Condensed";
  /* border:2px solid pink; */
  display:flex;
  /* padding:0 0rem; */
  align-items: center;
  justify-content: center;
}
.coin-card>div{
  /* border:2px solid white; */
  /* height:100%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* object-fit: contain; */
}
.coin-card>.left>p>.link{
  color:#ffffffa2;
  /* border:2px solid red; */
  padding:0.3rem 0.8rem;
  border-radius: 0.5rem;
  background-color: #244031
}
.coin-card>.left>p>.link:hover{
  text-decoration: underline;
  color:#ffffffb8;
  transition: 0.2s ease-in-out;
}
.coin-card>.left>a{
  color:#c2dfd0;
}
.coin-card>.left>.homepage:hover{
  text-decoration: underline;
}

/* .coin-card>.e */
.coin-card>.left{
  width:40%;
}
.coin-card>.right{
  padding-left:1rem;
  align-items: start;
  width:60%;
}
.coin-card>.graphs{
  width:40%;
}
.coin-card>.left>img{
  width:6rem;
}
.coin-card>.left>p{
  margin:0.9rem, 0;
  padding:0;
  /* border:2px solid red; */
}

.coin-card>.right>p{
  margin:0.4rem 0;
  color:#c2dfd0;
}
.coin-card>.right>p>.data{
  color:white;
}
/* GRAPH CONTAINER */
.graph-ctn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:2px solid white; */
}
.graph-ctn>.tick-selection{
  /* border:2px solid white; */
  width:100%;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap:2rem; 
}
.tick-selection>span:hover{
  color:#c2dfd0;
  cursor: pointer;
  /* transition: 0.5s; */
}

 /* CURRENCY RADIO BUTTON */
 .currency-button-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
 }
 /* CURRENCY SELECTOR */
.currency-selectors{
  font-weight: 500;
  margin:0 1rem;
}
.currency-selectors:hover{
  /* text-decoration: underline; */
  transition: 0.2s;
  cursor: pointer;

}
/* TRENDING COIN COMPONENT */
.trending-coin-short{
  display:flex;
  font-family: 'Roboto Condensed';
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  padding:0.5rem 0.5rem;
  margin:0.2rem 0 0.5rem 0;
  border-radius: 10px;
  /* border:2px solid white; */
}
.trending-coin-short:hover{
  transition: ease-in-out 0.1s;
  background: rgba(255, 255, 255, 0.082);
}
.trending-coin-short>p,img{
  height:100%;
}
.trending-coin-short>.score{
  height:100%;
  display:flex;
  align-items: center;
  margin:0;
  justify-content: center;
  width:10%;

}
.trending-coin-short>.short-img{
  object-fit: contain;
  width:12.5%;
  height:4rem;
}
.trending-coin-short>.name{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:15%;
  height:100%;
}
.trending-coin-short>.price{
  display:flex;
  height:100%;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 1rem;
  width:25%;
}
.trending-coin-short>.change{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  margin:0;
  padding:0 1rem;
  width:12.5%;
}
.trending-coin-short>.graph{
  width:25%;
  /* overflow: hidden; */
  /* border:2px solid red; */
  padding:0 0.5rem;
}
/* SHORT COIN LABELS */
.short-coin-label{
  display: flex;
  /* border:2px solid white; */
  padding: 0 0.5rem;
  height:5rem;
}
.short-coin-label>p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed';
  font-size: 0.9rem;
  align-self: center;
  text-align: center;
  /* border:2px solid white; */
  /* height: 100%; */
}
.short-coin-label>.score{
  width:10%;
}
.short-coin-label>.img{
  width:12.5%;
}
.short-coin-label>.name{
  width: 15%;
}
.short-coin-label>.price{
  width: 25%;
  /* border:2px solid red; */
}
.short-coin-label>.price>.currency{
  color:#9cd37c;
  margin-left:0.5rem;
}

.short-coin-label>price:hover .tooltip{
  /* display: visible; */
  visibility: visible;
}
.short-coin-label>.price:hover{
  cursor:pointer;
}
.short-coin-label>.change{
  width: 12.5%;
}
.short-coin-label>.graph{
  width: 25%;
  /* border:2px solid red; */
}

/* TRENDING NFT SHORT */
.trending-nft-short{
  /* border:2px solid pink; */
  width:100%;
  display: flex;
  align-items: center;
  padding:0.5rem 0.5rem;
  margin:0.2rem 0 0.5rem 0;
  border-radius: 10px;
}
.trending-nft-short:hover{
  transition: ease-in-out 0.1s;
  background: rgba(255, 255, 255, 0.082);
}
.trending-nft-short>p,img{
  height:100%;
  /* border:2px solid white; */
}
.trending-nft-short>p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed';
}
.trending-nft-short>.score{
  width: 10%;
}
.trending-nft-short>.img{
  width: 12.5%;
}
.trending-nft-short>.name{
  width: 15%;
}
.trending-nft-short>.price{
  width: 25%;
}
.trending-nft-short>.change{
  width: 12.5%;
}
.trending-nft-short>.graph{
  display: flex;
  justify-content: center;
  width:25%;
  /* margin-left: auto; */
}
/* short nft label */
.short-nft-label{
  display: flex;
  /* border:2px solid white; */
  padding:0 0.5rem;
  height:5rem;
}
.short-nft-label>p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Condensed';
  font-size: 0.9rem;
  align-self: center;
  text-align: center;
  /* border:2px solid white; */
  height: 100%;
}
.short-nft-label>.score{
  width:10%
}
.short-nft-label>.img{
  width: 12.5%;
}
.short-nft-label>.name{
  width:15%
}
.short-nft-label>.price{
  width: 25%;
}
.short-nft-label>.change{
  width:12.5%;
}
.short-nft-label>.graph{
  width:25%;
}
/* COIN PAGE */

/* LOADING SKELETONS */
@keyframes pulsate {
  0% {
      background-color: rgba(36, 64, 49, 0.44);
  }
  50% {
      background-color: rgba(36, 64, 49, 0);
  }
  100% {
      background-color: rgba(36, 64, 49, 0.44);
  }
}
.load-trending-ctn{
  /* border:2px solid white; */
  width:100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap:1rem;
  align-items: center;
  padding:0.5rem 0.5rem;
  margin:0.2rem 0 0.5rem 0;
}
.load-trending-ctn>.loading-bar{
  background-color:#24403170;
  height:6rem;
  width:100%;
  border-radius: 10px;
  animation:pulsate 2s infinite;
}
.loading-sm-card{
  display:flex;
  height:30rem;
  flex-direction: column;
  align-items: center;
}
.loading-sm-card>.top{
  display:flex;
  height:50%;
  width:100%;

}
.loading-sm-card>.top>.loading-circle-icon{
  width:6rem;
  /* border:2px solid white; */
  height:6rem;
  /* padding:2rem; */
  margin:2rem;
  margin-top: 2.2rem;
  border-radius:50%;
  background-color: #24403170;
  animation:pulsate 2s infinite;
}
.loading-sm-card>.top>.loading-bar{
  width:60%;
  /* border:2px solid white; */
  height:80%;
  margin:2rem 0;
  background-color: #24403170;
  animation:pulsate 2s infinite;
  border-radius: 30px;
}
.loading-sm-card>.loading-graph{
  width:90%;
  height:10rem;
  margin-top:1.5rem;
  border-radius: 30px;
  background-color: #24403170;
  animation: pulsate 2s infinite;
}
.load-coins-list-ctn{
  /* border:2px solid white; */
  display: flex;
  flex-direction: column;
  padding:0 1rem;
  gap: 0.5rem;
}
.load-coins-list-ctn>.loading-bar{
  /* border:2px solid blue; */
  height:5rem;
  border-radius: 20px;
  background-color:#24403170;
  /* height:6rem; */
  width:100%;
  border-radius: 10px;
  animation:pulsate 2s infinite;
}
@keyframes flip {
  0% {
    transform: rotateZ(0deg);
  }
  17.5%{
    transform: rotateZ(45deg);
  }
  25%{
    transform: rotateZ(90deg);
  }
  50% {
    /* transform: rotateY(180deg); */
    transform: rotateZ(180deg);
  }
  75%{
    /* transform: rotateY(270deg); */
    transform: rotateZ(270deg);
  }
  100% {
      /* transform: rotateY(360deg); */
      transform: rotateZ(360deg);
  }
}
.loading-coin-ctn{
  height:85%;
}
.loading-coin-ctn>img{
  height:5rem;
  width:5rem;
  filter: invert();
  animation: flip 2s infinite;
}
/* } */
 /* COINS PAGE */
.home.coins{
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border:2px solid white; */
  /* padding-top:2rem; */
  /* object-fit:scale-down; */
  height:85%;
}
.home.coins>.title{
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:10%;
  /* margin-bottom:1rem; */
}
.home.coins>.title>h3,h4{
  margin:0.5rem;
}
.home.coins .title h3 img{
  width:1rem;
  height:1rem;
  margin: 0 0.3rem;
}
.home.coins .title h3{
  display: flex;
  height:2rem;
  align-items: center;
}
.home.coins .title h4{
  font-weight: 450;
}
.coins-list-ctn{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 90%;
  height:80%;
  margin:0;
  /* border:2px solid teal; */
  padding:0;
  background-color: #24403170;
  border-radius: 1.8rem;
}
.coins-list-label{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* background-color: #24403170; */
  height:10%;
  /* border:2px solid white; */
  width: 100%;
  padding:0 1rem 0 1rem;
  align-items: center;
  /* border-radius: 30px; */
  border-bottom: 2px solid rgba(128, 128, 128, 0.281);
  /* overflow-x: scroll; */
  
}
.coins-list-label>p{
  text-align: center;
  /* border:2px solid red; */
}

.coins-list-label>.rank{
  width:5%;
}
.coins-list-label>.image{
  width:5%;
}
.coins-list-label>.name,.symbol,.percent-change,.link{
  width:10%;
}
.coins-list-label>.price{
  width: 13%;
}
.coins-list-label>.price:hover{
  cursor: pointer;
  /* color: */
}
.coins-list-label>.market-cap{
  width:18.5%;
}
.coins-list-label>.market-cap:hover{
  cursor: pointer;
}
.coins-list-label>.total-volume{
  width:18.5%;
}
.coins-list{
  width:100%;
  max-height:90%;
  overflow:auto;
  /* border:2px solid white; */
  /* background-color: #24403170; */
  padding:0 1rem;
  
}
.list-coin-card{
  display:flex;
  margin:0.7rem 0 0.7rem 0;
  text-align: center;
  align-items: center;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  border-radius: 20px;
}
.list-coin-card:hover{
  transition: ease-in-out 0.1s;
  background: rgba(255, 255, 255, 0.082);
}

.coins-scroll-area{
  /* border:2px solid teal; */
  height:95%;
  max-height:95%;
  overflow: auto;
  padding:0;
}
.list-coin-card>.rank{
  width:5%;
}
.list-coin-card>img{
  width:5%;
}
.list-coin-card>.name{
  width:10%;
}
.list-coin-card>.symbol{
  width: 10%;
}
.list-coin-card>.price{
  width: 13%;
}
.list-coin-card>.percent-change{
  width: 10%;
}
.list-coin-card>.market-cap{
  width:18.5%;
}
.list-coin-card>.link{
  width: 10%;
  color:white;
}
.list-coin-card>.link:hover{
  cursor: pointer;
  color:#244031;
}
.list-coin-card>.total-volume{
  width: 18.5%;
}
/* PAGE TRACKER */
.page-tracker{
  /* width:90%; */
  height:10%;
  /* border:2px solid white; */
  display:flex;
  justify-content: center;
  align-items: center;
  /* margin:1rem 0; */
  gap:0.5rem;
  padding:0.5rem;
}
.page-tracker>span{
  display: flex;
  /* border:2px solid black; */
  padding:0.5rem;
  height:2rem;
  width:2rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size:1rem;
  /* background-color: #84a970; */
  background: #24403170;
}
.page-tracker>span:hover{
  cursor:pointer
}
/* COIN PAGE */
.home.coin{
  /* border:2px solid white; */
  padding:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:85%;
  width:100%;
}
.coin-info{
  display:flex;
  /* flex-direction: column; */
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  /* border:2px solid blue; */
  padding:0.5rem;
  width: 90%;
  height:100%;
  background-color:#24403170;
  border-radius: 1.8rem;
}
/* LEFT SIDE OF COIN PAGE */
.coin-info>.left{
  /* border:2px solid white; */
  border-radius: 3rem;
  padding:2rem;
  height:100%;
  width:40%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.coin-info>.left>.title{
  /* border:2px solid red; */
  display: flex;
  align-items: center;
}
.coin-info>.left>.title>img{
  width:5rem;
  height:5rem;
  /* border:2px solid red; */
}
.left>.title>.name{
  font-size: 2rem;
  margin:0 0.2rem 0 1rem;
}
.left>.title>.symbol{
  color:rgb(193, 192, 192);
  font-size: 1.2rem;
}
.left>.title>.rank{
  /* border:2px solid red; */
  /* margin:0 2rem; */
  margin-left: auto;
  padding:0.4rem;
  border-radius: 0.8rem;
  /* background-color: rgba(193, 192, 192, 0.578); */
  background-color: #c2dfd0;
  /* #c2dfd0 */
  /* color:rgba(0, 0, 0, 0.796); */
  color: black;
  font-weight: 450;
}
.left>.price-ctn{
  margin: 1rem 0;
}
.left>.price-ctn>.price{
  font-size: 2.5rem;
}
  /* border:2px solid white; */
.coin-info>.left>.price-change-title{
  /* text-emphasis:; */
  /* border: 2px solid white; */
  text-align: center;
}
.left>.price-ctn>.percent-change{
  font-size: 1.5rem;
}
.left>hr{
  width:100%;
}
.left>.price-change-percent-ctn{
  /* border:2px solid white; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.left>.price-change-percent-ctn>div{
  /* border:2px solid red; */
  width: 100%;
  display: flex;
  margin:0.2rem 0;
  /* justify-content: center; */
}
.left>.price-change-percent-ctn>div>span{
  width:14.28%;
  text-align: center;
}
.left>.high-low{
  /* border:2px solid white; */
  display: flex;
  justify-content: space-evenly;
  margin:1rem 0;
}
.left>p{
  color:#c2dfd0
}
.left>p>.data{
  font-weight: 500;
  color:white;
}

/* RIGHT SIDE OF COIN PAGE */
.coin-info>.right{
  display: flex;
  justify-content: center;
  height:100%;
  width:60%;
}
.coin-info>.right>div{
  /* border:2px solid red; */
  width:90%;
  /* height:50%; */
  /* background-color: white; */
}

/* ----------------------------------------------------------------------------------- */
/* RESPONSIVE STYLES MEDIA QUERIES */
/* small tablet */
/* up until 599 */
@media (max-width:599px) {
  .header>a{
    display: none;
  }
  .header>h1{
    font-size: 1.2rem;
  }
  .home{
    flex-direction: column;
    align-items: center;
    height:auto;
    /* border:2px solid teal; */
    padding:1rem;
    /* height:10%; */
    width:100%;
  }
  .home>.home-left,.home-right{
    width:100%;
  }
  .loading-coin-ctn{
    height:80vh
  }
  .coin-card{
    flex-direction: column;
  }
  .coin-card>.left{
    /* border:2px solid teal; */
    width:100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .coin-card>.left>img{
    height:10rem;
    width: 10rem;
    grid-column: 1;
    grid-row: 1/span 3;
    padding:1rem;
  }
  .coin-card>.left>p,a{
    grid-column: 2;
  }
  /* .coin-card>.right>p{ */
    /* display: inline-block; */
  /* } */
  .coin-card>.right{
    margin:2rem 0;
    display: inline-grid;
    width:100%;
    grid-template-columns:50% 50% ;
    grid-template-rows: 25% 25% 25% 25%;
  }
  .coin-card>.right>:nth-child(6){
    /* border:2px solid green; */
    grid-row: 4;
    grid-column: 2;
  }
  .coin-card>.right>:nth-child(7){
    grid-column: 1;
    grid-row: 4;
  }
  /* COINS LIST PAGE */
  .home.coins{
    padding-top:0;
    /* width: 100%; */
    /* border:2px solid blue; */
  }
  .home.coins>.title{
    width:100%;
  }
  .home.coins>.title>h3,h4{
    margin:0;
    /* font-size: 1rem; */
  }
  .title h3{
    font-size: 1rem;
  }
  .title h4{
    font-size: 0.95rem;
  }
  .coins-list-ctn{
    overflow-x: scroll;
    align-items: start;
    width: 100%;
  }
  .coins-list-label,.coins-list{
    width:50rem;
  }
  .list-coin-card{
    padding:0.5rem 0rem;
  }
  /* COIN PAGE */
  .home.coin{
    height:auto;
  }
  .coin-info{
    /* border:2px solid red; */
    width: 100%;
    flex-direction: column;
  }
  .coin-info>.left{
    width: 100%;
    /* border:2px solid blue; */
    height:auto;
  }
  .coin-info>.right{
    width: 100%;
    /* border:1px solid blue; */
    padding:0 0;
    height:auto;
  }
  .coin-info>.right>.graph-ctn{
    padding:0 0;
    /* border:2px solid blue; */
    height:auto;
    width: 100%;
  }
  .coin-info>.left>.title{
    /* border:2px solid red; */
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 70% 30%;
    /* outline:2px solid red; */
    /* gap:0; */
    padding:0.5rem;
  }
  .left>.title>img{
    grid-column: 1;
    grid-row:1/span 2;
    /* border:2px solid red; */
  }
  .left>.title>.name{
    grid-column: 2;
    grid-row:1;
    /* border:2px solid red; */
    flex-wrap: wrap;
    /* padding-left:0.5rem; */
    padding:0 0 0 .5rem;
    margin:0;
  }
  .left>.title>.symbol{
    /* margin:0; */
    grid-column: 2;
    padding-left:0.5rem;
    grid-row:2;
    width: auto;
    /* border:2px solid red; */
  }
  .left>.title>.rank{
    grid-column: 3;
    grid-row: 1/span 2;
    /* border:2px solid red; */
    margin:0;
  }
  .footer{
    text-align: center;
    padding: 0 2rem;
  }

}
@media (min-width:600px){
  .header>.menu-icon{
    display: none;
  }


}
/* SMALL SMARTPHONES */
/* STYLES FOR UP TO 400WIDTH */
@media (max-width:450px){ 
  /* HEADER */
  .header h1{
    font-size: 1.1rem;
  }
  .header .menu-icon{
    height:1.1rem;
    width: 1.1rem;
    /* border: 2px solid red;; */
  }
  /* BODY */
  .home{
    height:auto;
  }
  .home-left>div>div{
    overflow-x:scroll
  }
  .short-coin-label{
    width:35rem;
    /* border:2px solid red; */
    /* height:auto; */
  }
  .short-nft-label{
    width:35rem;
  }
  .scroll-area{
    height:auto;
    width: 35rem;
  }
  /* COIN CARD */
  .coin-card>.left{
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
  }
  .coin-card>.right{
    display: flex;
    /* border:2px solid white; */
    gap:1.2rem;
    /* padding-left:2rem; */
  }
  /* COINS PAGE */
  .home.coins{
    height:auto;
    /* scrollbar-gutter: stable; */
  }
  .home.coins>.title{
    margin:1rem 0;
  }
  .home.coins>.page-tracker{
    width:15rem;
    height:5rem;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
  }
  /* COIN PAGE */
  .coin-info{
    padding-top:0;
  }
  .coin-info>.left>.title{
    /* height:auto; */
    /* border:2px solid white; */
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:25% 25% 25% 25%;
    padding:0rem;
    /* padding-top:0  ; */

  }
  .coin-info>.left>.title>img{
    /* border:2px solid red; */
    /* padding:0; */
    grid-column: 1/span2;
    grid-row:1/ span 2;
  }
  .coin-info>.left>.title>.name{
    display: block;
    grid-column: 1/span 4;
    grid-row:3;
    margin-top:0.5rem;
  }
  .coin-info>.left>.title>.symbol{
    /* display: inline-block; */
    grid-column: 1;
    grid-row: 4;
  }
  .coin-info>.left>.title>.rank{
    grid-column: 3/span 4;
    grid-row: 1 /span 2;
    text-align: center;
  }
  /* FIGURE OUT OVERFLOW SCROLL FOR PRICE CHANGE COIN */
  .left>.price-change-percent-ctn{
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-gutter:stable both-edges;
  }
  .left>.price-change-percent-ctn>div{
    width:30rem;
  }
  .price-change-percent-ctn{
    margin-bottom: 1rem;
  }
  .loading-coin-ctn{
    height:80vh;
  }
  /* FOOTER */
  .footer{
    height:6rem;
    text-align: center;
    padding: 0 2rem;
  }
} 
/* BIG TABLETS */
@media (max-width:1100px) {
  .home.coin{
    height:auto;
  }
  .coin-info{
    /* border:2px solid red; */
    flex-direction: column;
    /* height:auto; */
  }
  .coin-info>.left{
    width:100%;
    /* height:auto; */
  }
  .coin-info>.right{
    width: 100%;
  }
  .coin-info>.left>.high-low{
    margin:2rem 0;
    /* border:2px solid red; */
  }
  .header{
    height:5rem;
    /* border:2px solid red; */
  }
  .footer{
    height:5rem;
    /* border:2px solid red; */
  }
  .home{
    /* border:2px solid red; */
    flex-direction: column;
    padding:1rem;
    align-items: center;
    height:auto;
  } 
  .home-left{
    width:100%;
    padding:1rem;
    height:auto;
  }
  .home-left>div{
    /* border:2px solid yellow; */
    height:auto;
  }
  .scroll-area{
    height:auto;
  }
  .home-right{
    width: 100%;
    border-radius: 1.8rem;
    /* border:2px solid red; */
    padding:1rem;
  }
  .coin-card>.right{
    /* border:2px solid white; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows:25% 25% 25% 25%;
    margin:0 0;
    /* gap:1rem; */
  }
  .coin-card>.right>:nth-child(7){
    grid-row:4;
    grid-column: 2;
  }
  .coin-card>.right>:nth-child(6){
    grid-row: 4;
    grid-column: 1;
  }
  /* COINS PAGE */
  .list-coin-card{
    padding:1rem 0;
  }
  /* SMALLER TABLETS */
  /* COINS PAGE */
  .home.coins>.coins-list-ctn{
    overflow-x: auto;
    align-items: flex-start;
  }
  .coins-list-ctn>div{
    width:50rem;
  }
}

